# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
env/
.env

# Node / Vite
node_modules/
dist/
dist-ssr/
*.local

# SQLite Databases
*.db
*.db-journal
*.db-shm
*.db-wal

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# App Uploads
uploads/*
!uploads/.gitkeep

# Dataset testing files
dataset/
